* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  /* grid-template-columns: 500px 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: 200px;
}

.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
  /* padding: 1rem; */
}

.wrapper>div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  padding: 1rem;
  color: #d9480f;
}